{% doc %}
  Renders a collection header component. The UI element above collection lists or multi-column displays.

  @param {string} title - The title of the collection.
  @param {string} nav_text - The text for the navigation link.
  @param {string} [subtitle] - The subtitle of the collection.
  @param {string} link - The URL for the navigation link.

  @example
  {% render 'collection-header',
     title: 'Collection Title',
     nav_text: 'View All',
     subtitle: 'This is a subtitle',
     link: '/collections/all'
   %}
{% enddoc %}

<div class="tw:flex tw:flex-col tw:items-start tw:mb-4">
  <div class="tw:flex tw:flex-row tw:w-full tw:justify-between tw:items-center">
    <h2 class="tw:font-bold tw:text-4xl">{{ title }}</h2>
    <a href="{{ link }}" class="tw:flex tw:gap-2 tw:group tw:font-semibold">
      <p class="transition-all tw:duration-300 tw:ease-in-out tw:group-hover:text-slate-400">{{ nav_text }}</p>
      <span
        class="tw:m-auto tw:flex tw:rotate-270 tw:size-8 tw:items-center tw:justify-center tw:p-2 tw:rounded-full transition-all tw:duration-300 tw:ease-in-out tw:group-hover:bg-slate-200 tw:group-hover:text-slate-400"
        style="background-color: #c2cfd6; color: #426c8a;"
      >
        {{- 'icon-caret.svg' | inline_asset_content -}}
      </span>
    </a>
  </div>
  {% if subtitle %}
    <p class="tw:font-medium">{{ subtitle }}</p>
  {% endif %}
</div>
