<div class="shop-the-look page-width">
  <div
    class="tw:flex tw:flex-col tw:md:flex-row tw:w-full tw:p-8"
    style="background-color: {{ section.settings.background_color }};"
  >
    <div class="tw:w-full tw:md:w-1/2 tw:flex tw:items-center tw:justify-center">
      <img
        class="tw:aspect-square tw:object-cover tw:w-full"
        src="{{ section.settings.image | image_url }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.height }}"
      >
    </div>

    <div class="tw:flex tw:flex-row tw:w-full tw:md:w-1/2 tw:justify-center tw:items-center tw:p-4">
      <div class="tw:w-fit tw:max-w-full tw:flex tw:flex-col tw:gap-6">
        <h2
          class="tw:text-5xl tw:mt-4 tw:md:mt-0 tw:md:text-4xl tw:font-semibold tw:text-center"
          style="color:{{ section.settings.text_color }}"
        >
          {{ section.settings.title }}
        </h2>
        <div class="tw:flex tw:flex-row tw:items-center tw:justify-center tw:gap-4 tw:md:gap-8">
          <button name="prev" class="tw:group tw:flex-grow-0" name="prev">
            <span
              class="tw:m-auto tw:flex tw:rotate-90 tw:size-7 tw:items-center tw:justify-center tw:p-1.5 tw:rounded-full transition-all tw:duration-150 tw:ease-in-out tw:group-hover:scale-130"
              style="background-color: #426c8a; color: #c2cfd6;"
            >
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </button>

          {% comment %} Scrolling Product Card {% endcomment %}
          {% comment %} {% assign breakpoint_sizes = "tw:w-[220px] tw:sm:w-[460px]" %} {% endcomment %}
          <div class="tw:flex tw:items-center tw:justify-center tw:max-w-[380px] tw:w-[80%]">
            <div class="tw:overflow-hidden tw:md:hidden tw:block tw:w-full">
              <div
                class="compact-viewer tw:flex tw:transition-transform tw:duration-300"
              >
                {% for product in section.settings.products %}
                  <div
                    name="card"
                    class="tw:shrink-0 tw:w-full"
                  >
                    {% render 'custom-card-product', product: product, compact_mode: true, image_size: 'small' %}
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="tw:overflow-hidden tw:hidden tw:md:block tw:w-[261px]">
              <div
                class="normal-viewer tw:flex tw:transition-transform tw:duration-300"
              >
                {% for product in section.settings.products %}
                  <div class="tw:shrink-0 tw:w-[261px]">{% render 'custom-card-product', product: product %}</div>
                {% endfor %}
              </div>
            </div>
          </div>

          <button name="next" class="tw:group tw:flex-grow-0" name="next">
            <span
              class="tw:m-auto tw:flex tw:rotate-270 tw:size-7 tw:items-center tw:justify-center tw:p-1.5 tw:rounded-full transition-all tw:duration-150 tw:ease-in-out tw:group-hover:scale-130"
              style="background-color: #426c8a; color: #c2cfd6;"
            >
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Shop the Look",
  "tag": "section",
  "settings": [
    {
      "type": "product_list",
      "id": "products",
      "label": "Products"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#426c8a"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#c2cfd6"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop the Look"
    }
  ],
  "presets": [
    {
      "name": "Shop the Look Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
