{% comment %} Testimonial Scroll Animation {% endcomment %}

<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-50% - 10px));
    }
  }
</style>

<div
  class="tw:flex tw:flex-col tw:gap-8 tw:my-12"
  style="padding-top: calc(var(--tw-spacing) * {{ section.settings.padding_y }}); padding-bottom: calc(var(--tw-spacing) * {{ section.settings.padding_y }});"
>
  <h1 class="tw:text-6xl tw:font-bold tw:text-center">{{ section.settings.title }}</h1>
  <div
    class="tw:flex tw:flex-row tw:gap-8 {% if section.settings.pause_on_hover %}tw:hover:[animation-play-state:paused]{% endif %} tw:w-fit tw:overflow-x-hidden tw:justify-start"
    style="animation: scroll {{ section.settings.scroll_speed }}s linear infinite"
  >
    {% for i in (1..4) %}
      {% for testimonal in section.blocks %}
        <div
          class="tw:flex tw:flex-col tw:shrink-0 tw:gap-4 tw:w-[412px] tw:p-6"
          style="background-color: {{ section.settings.background_color }}"
        >
          {% comment %} Star Rating {% endcomment %}
          {% assign empty_stars = 5 | minus: testimonal.settings.stars %}
          <div class="tw:flex tw:text-2xl tw:items-center tw:flex-row tw:gap-1">
            {% for i in (1..testimonal.settings.stars) %}
              <span class="tw:text-yellow-500 tw:size-6">
                {{ 'icon-star-filled.svg' | inline_asset_content }}
              </span>
            {% endfor %}
            {% for i in (1..empty_stars) %}
              <span class="tw:text-yellow-500 tw:size-6">
                {{ 'icon-star.svg' | inline_asset_content }}
              </span>
            {% endfor %}
          </div>

          {% comment %} Title {% endcomment %}
          <h3 class="tw:text-3xl tw:font-semibold">{{ testimonal.settings.header }}</h3>

          <div class="tw:flex tw:flex-col">
            {% comment %} Review {% endcomment %}
            <p class="tw:text-[1.75rem] tw:font-medium tw:w-[325px]">"{{ testimonal.settings.body }}"</p>
            {% comment %} Author {% endcomment %}
            <p class="tw:text-[1.75rem] tw:font-medium tw:w-[325px]">— {{ testimonal.settings.author }}</p>
          </div>

          {% comment %} Product Card {% endcomment %}
          <div class="tw:w-full">
            {% render 'custom-card-product',
              product: testimonal.settings.product,
              compact_mode: true,
              image_size: 'small',
              background_color: '#ffffff'
            %}
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Testimonials",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "What People Say"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#f9f9f9"
    },
    {
      "type": "range",
      "id": "scroll_speed",
      "label": "Scroll Speed",
      "min": 1,
      "max": 40,
      "default": 20,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "pause_on_hover",
      "label": "Pause on Hover",
      "info": "Whether to pause scrolling on mouse hover",
      "default": false,
    },
    {
      "type": "range",
      "id": "padding_y",
      "label": "Vertical Padding",
      "min": 0,
      "max": 16,
      "default": 8,
      "info": "Use this to adjust the spacing above and below the section."
    }
  ],
  "blocks": [
    {
      "type": "testimonal",
      "name": "Testimonial",
      "settings": [
        {
          "type": "text",
          "id": "header",
          "label": "Header",
          "default": "Testimonial"
        },
        {
          "type": "text",
          "id": "body",
          "label": "Body",
          "info": "The actual review of the testimonial",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Review"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "range",
          "id": "stars",
          "min": 0,
          "max": 5,
          "step": 1,
          "unit": "⭐",
          "label": "Rating",
          "default": 4
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Custom"
    }
  ]
}
{% endschema %}
